body{
    margin: 0;
    padding: 0;
    background-color: #e0dbd4;
    font-family: 'Montserrat', sans-serif;
    max-width: 1980px;
}

*{
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
}

.active{
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo a{
    text-decoration: none;
    color: #f0ede9;
    font-weight: 500;
    font-size: 24px;
    transition: 0.5s;
}

.logo img{
    height: 50px;
    width: 50px;
    color: #ffe604;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    list-style: none;
    padding: 10px
}

nav ul li a{
    text-decoration: none;
    color: #f0ede9;
    font-weight: 500;
    font-size: 22px;
    transition: 0.5s;
}

nav ul li a:hover{
    font-size: 25px;
    color: rgb(250, 250, 250);
}



.banner{
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    position: relative ;
    width: 100%;
    height: 95vh;
    background-image: url(imagenes/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.mainImage{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0px 3px 4px rgb(41 40 40);
    position: absolute;
    opacity: auto;
}

.s2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s2 h3 , .s5 h2, .contactoContainer .h3 {
    font-weight: 600;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #ffe604;
    text-decoration-thickness: 5px;
}

.contactoContainer h3{
    font-weight: 600;
    font-size: 50px;
}

.serviceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.serviceColum{
    width: 33%;
    text-align: center;
    margin: auto;
}

.serviceColum img{
    height: 300px;
    width: 360px;
    padding: 20px;
}

.s3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color:#b1aca7c4;
}

.nosotrosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nosotrosColum{
    width: 40%;
    text-align: center;
    margin: auto;
    height: 750px;
}

.nosotrosColum .grua{
    background-image: url(imagenes/grua.JPG);
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 620px;
    margin-top: 0px;
}

.nosotrosText{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    width: 400px;
}

.nosotrosColum h3{
    font-weight: 600;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #ffe604;
    text-decoration-thickness: 5px;
}

.s4{
    background-color:#646261;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colum{
    padding: 50px;
    margin: 0px;
    text-align: center;
}

.s4 h4{
    font-weight: 600;
    font-size: 45px;
    margin-top: 0px;
}

.s4 h3{
    font-weight: 500;
    font-size: 20px;
    margin-top: -60px;
}

.s5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.proyeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.proyeColum{
    width: 34%;
    
}

.proyeColum img{
    height: 450px;
    width: 500px;
    padding:10px 30px;
    margin: 0;
}

.contactoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#b1aca7c4;
}

.contacto h3{
    font-size: 25px;
}

.contacto p{
    font-size: 18px;
}

.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.contactoColum{
    width: 33%;
    margin: 25px;
}

.contactoColum img{
    height: 70px;
    width: 70px;
    padding: 10px;
    transition: 0.4s;
}

.contactoColum a img:hover{
    transform: translateY(-10px);
}

footer{
    text-align: center;
    background-color:#74706d;
    height: 30px;
    margin-top: -17px;
}

footer  p{
    font-weight: 600;
}

